.book-store_banner-book-cover {
  height: 218px;
  width: 144px;
  max-height: 218px;
  max-width: 144px;
  margin-right: 35px;
  font-size: 11pt;
  color: gray;
  transition-duration: 500ms;
}
.book-store_banner-book-cover:hover {
  transform: scale(1.15);
}

.book-store_regular-book {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 140px;
  margin-right: 30px;
}
.book-store_regular-book_cover {
  height: 200px;
  width: 140px;
}
.book-store_regular-book_info {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 6px;
}
.book-store_regular-book_title {
  font-weight: bold;
  margin: 0 0 2px 0;
}
.book-store_regular-book_title,
.book-store_regular-book_author {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.book-store_regular-book_author,
.book-store_regular-book_price-and-rating {
  font-size: 10pt;
}
.book-store_regular-book_price-and-rating {
  display: flex;
  width: 100%;
}
.book-store_regular-book_rating {
  display: flex;
  align-items: center;
  margin-right: 6px;
}
.book-store_regular-book_price {
  margin-right: auto;
}
