#book-store_home {
  margin-top: 70px;
}
#book-store_home_banner {
  display: flex;
  flex-direction: column;
  height: 80vh;
  max-height: 500px;
  width: 94%;
  margin: 0 3%;
  margin-top: 15px;
  background-color: #dae5ee;
  background-image: linear-gradient(45deg, #9b78d3, #8c489d);
}
#book-store_home_banner > h1 {
  font-size: 38pt;
  margin: 3% 0 0 3%;
}
#book-store_home_banner > h4 {
  margin-left: 3%;
}
#book-store_home_banner_shelf-container {
  height: 70%;
  width: 100%;
  margin-top: auto;
  overflow: hidden;
}
#book-store_home_banner_shelf {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 3%;
}

.book-store_home_row-of-books {
  width: 94%;
  padding: 0 3%;
}
.book-store_home_row-of-books > h1 {
  font-size: 25pt;
  margin-bottom: 0;
}
.book-store_home_row-of-books > h4 {
  margin-top: 10px;
}
.book-store_home_row-of-books > [row-container] {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
}
.book-store_home_row-of-books > [row-container]::-webkit-scrollbar {
  display: none;
}
.book-store_home_row-of-books > [row-container] > [row-lineup] {
  display: flex;
  width: fit-content;
  height: 100%;
}

.book-store_home_series_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.book-store_home_series-pack {
  display: grid;
  grid-template-columns: 62% auto;
  height: 247px;
  width: 247px;
  margin-bottom: 14px;
  overflow: hidden;
}
.book-store_home_series-pack * {
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.book-store_home_series-pack_book-1 {
  background-color: aquamarine;
}
.book-store_home_series-pack_other-books {
  display: grid;
  grid-template-rows: auto auto;
  height: 100%;
}
.book-store_home_series-pack_book-2 {
  background-color: rebeccapurple;
}
.book-store_home_series-pack_book-3 {
  background-color: bisque;
}
.book-store_home_series-pack_details {
  display: flex;
  flex-direction: column;
}
.book-store_home_series-pack_details > [series-name] {
  display: inline-block;
  margin: 0 0 2px 0;
  font-weight: bold;
}
.book-store_home_series-pack_details > [series_author] {
  color: gray;
}
/* #book-store_home_lists {
  display: -moz-grid;
  display: -ms-grid;
  display: grid;
  grid: auto/auto auto auto;
  column-gap: 2%;
  height: 300px;
  margin: 45px 3%;
  padding: 0;
}
.book-store_home_list {
  height: 100%;
  background-color: var(--themeColor);
}

.row-of-books {
  height: 80vh;
  width: 94%;
  margin: 0 3%;
  max-height: 450px;
} */
